extends layout
block content
  .row
    .holder
      h1 Hi I am the products page!
        .grid-container
          each row in res1
            .item
              h1.itemtitle #{row.Name}
              p.itemp #{row.Brand}
              img.pimage(src='/' + row.Image, alt=row.Image)
              p.itemp Category: #{row.Category}
              p.itemp &euro; #{row.Price}