extends layout
block content
  .row
      h1 Our products
      .flex-container
        each row in res1
          .card
            img.product-image(src='/' + row.Image, alt=row.Image)
            h2 #{row.Name}
            p #{row.Brand}
            p Category: #{row.Category}
            p.product-price &euro;#{row.Price}
            a.button(href='/item/' + row.Id) Show
            a.button(href='/edit/' + row.Id) Edit
            a.button(href='/delete/' + row.Id) Delete